* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.horizontal {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}

.horizontal:hover {
    background: linear-gradient(to left, #1e3c72, #2a5298);
}

.vertical {
    background: linear-gradient(to top, #1e3c72, #2a5298);
}

.vertical:hover {
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
}