* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: wheat url('images/living_room.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

h3 {
    margin: 1rem;
    text-align: center;
}

input {
    margin: 1rem;
}